<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage">FBA Transport</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Process">Our Process</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="quote">Request Quote</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <h1 class="page-header">About Us
                    <small> Empowering Online Businesses</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="homepage">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <br>
                <img class="img-responsive" src="assets/legal/vessels_loading.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>What makes us different</h2>
                <p><b>We believe</b> that small online businesses will become a vital part of the global economy in the upcoming decade. Our role is to help these business prosper by making them more efficient.</p>
                <p><b>We do</b> this by making freight <b>Easier and Cheaper</b> than ever before, without affecting our high standard of performance. This is because we simply believe that great products speaks loud, and that we therefore do not need huge marketing budgets.</p>
                <p><b>We are</b> the #1 trusted logistic partner for Amazon Private label sellers. Not as a result, but as a consequence of our purpose which is "Helping small and medium online businesses Grow!"</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Quick Facts -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Quick Facts</h2>
            </div>
<section id="QuickFacts">
        <div class="container-fluid">
            <div class="row text-center">
            </div>
            <div class="row text-center content-row">
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                    <div class="about-content">
                        <i class="fa fa-barcode fa-4x"></i>
                        <h3 style="font-size:60px">216,391</h3>
                        <p>Items Processed Last Month</p>
                        <p style="font-size:14px"><font color="0088cc">That's a lot of items</font></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="about-content">
                        <i class="fa fa-thumbs-o-up fa-4x"></i>
                        <h3 style="font-size:60px">97%</h3>
                        <p>Returning Customers</p>
                         <p style="font-size:14px"><font color="0088cc">That's a lot of happy people</font></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                    <div class="about-content">
                        <i class="fa fa-ship fa-4x"></i>
                        <h3 style="font-size:60px">31</h3>
                        <p>Logistics partners</p>
                         <p style="font-size:14px"><font color="0088cc">That's a lot of experience</font></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.8s">
                    <div class="about-content">
                        <i class="fa fa-institution fa-4x" aria-hidden="true"></i>
                        <h3 style="font-size:60px">1996</h3>
                        <p>First Time Cleared US Customs</p>
                        <p style="font-size:14px"><font color="0088cc">That's a long, long time ago</font></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
        <!-- /.row -->

        <!-- Customer Testimonials 1-2-->
        <div class="row" class="row-text-center" id="Testimonials">
            <div class="col-lg-12">
                <h2 class="page-header">Customer Testimonials</h2>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/Philip.jpg" title="buzz hover text" alt="">
            </div>
             <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/Amanda.jpg" alt="">
            </div>
        </div>

        <!--Testimonial Text 1-2-->
        <br><br>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p><i><b>Amazon Private Label Seller - Electronics</b><br>"Having used my supplier to ship to Amazon for 8 months, I got contacted by FBA Transport, providing me a quote. I had always thought these "all inclusive freight providers" would be more expensive, but couldn't be more wrong. In fact, after subtracting the cost of inspection, labelling services, customs clearence and shipment costs <b>I now save about 50%</b>. I don't have to think about anything, I spend way less and I get my items inspected. I definetly recommend FBA Transport's solution."</i></p>
                <i style="font-size: 32px">- Philip 27, Atlanta GA <i>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p> <b>Amazon Private Label Seller - Sports Bottles</b><br>"I wanted to ensure that my products were properly prepped before shipping to the US in order to reduce my costs. After a referal from a friend I decided to try FBA Transport's "A-Z solution". I normally get my shipment prepped, inspected and delivered to Amazon within 5-6 days. <b>I have never had any issues</b>, and I have yet to find anyone that is cheaper."</p>
                <i style="font-size: 32px">- Amanda 36, Schertz TX <i>
            </div>
        </div>
<br><br>
        <!--Customer Testimonial 3-4-->

         <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/couple.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/Soufian.jpg" alt="">
            </div>
        </div>

        <!--Customer Text 3-4-->
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p> <b>Amazon Private Label Seller - Variety</b><br>"We realized that our supplier was making huge margins on our shipments, after contacting the carrier they used directly. We therefore seeked someone that had experience with FBA standards that could ship directly to Amazon. We are very pleased with FBA Transport so far and will gladly recommend their services to anyone in the FBA Business."</p>
                <i style="font-size: 32px">- Kate 27 &amp; John 30, Chattanooga TN <i>            
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p><b>Amazon Private Label Seller - Variety</b><br><i>"I got contacted by FBA Transport in October 2015, and have used them to take care of my shipment ever since. I used to have a Chinese agent to ship my products for about 9 months before that. They rarely made mistakes, but their lack of english knowledge could make the email exchanges unessecarily long. As I sell a variety of products, I realized this was taking too much of my time."</i></p>
                <i style="font-size: 32px">- Soufian 28, Malaga Spain<i>
            </div>
        </div>

<br><br>
        <!--Customer Testimonials 5-6-->
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/Pascal.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <img class="img-responsive customer-img" src="assets/legal/Testimonials/Hashim.jpg" alt="">
            </div>
        </div>

        <!--Customer text 5-6-->
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p> <b>Amazon Private Label Seller - Grinders</b><br>"My 4 favourite resources as a Full Time Amazon Seller: 
                    <br><br>- Jungle Scout 
                    <br>- Scott Voelker's podcast
                    <br>- Ali Baba
                    <br><b>- FBA Transport</b>
                    <br><br>Thanks to you guys I can spend more time on things I really love doing"</p>
                <i style="font-size: 32px">- Pascal 32, Dijon France <i>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn">
                <p> <b>Amazon Private Label Seller - Variety</b><br>"Since I live in Norway and sell in the US, I don't have the possibility to delliver the products to Amazon's warehouse myself. I have used 3 different freight forwarders, and can testify that <b>FBA Transport is by far the most tranparent company</b>. Additionally, I have saved approx. 15% over the other freight forwarders."</p>
                <i style="font-size: 32px">- Hashim 27, Coopenhagen Denmark <i>
            </div>
        </div>



        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <br><br><br>
                    <p>Copyright &copy; www.fbatransport.com 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
