<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage">FBA Transport</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Process">Our Process</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="quote">Request Quote</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <h1 style="font-size: 24px" class="page-header">AMAZON PRIVATE LABEL – PRICING STRATEGIES, GETTING REVIEWS, AND SETTING GOALS
                    <small>by <a href="blog">Mose Gebreselassie</a>
                    </small>
                </h1>
                <ol style="font-size 15px" class="breadcrumb">
                    <li><a href="blog">Home</a>
                    </li>
                    <li class="active">Blog Post</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p style="font-size: 11px"><i class="fa fa-clock-o"></i> Posted on July 20, 2016 at 9:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="assets/legal/5star.jpg" alt="">

                <hr>

                <!-- Post Content -->
                <p style="font-size: 15px" class="lead">Are you wondering what price range to shoot for when choosing products to private label? In this blog post we discuss pricing strategies, how to get reviews early on after your product launch and setting goals for your private label business.
                </p>
                <p style="font-size: 14px">The price point of your product depends on how much profit you want to earn per sale. In most of my products I aim to get at least $10 profit per sale if my product price is around $30. If my product’s sale price is higher, around $60, I aim to get $20 to $25 profit. I highly recommend you keep the price point of your first private label product below $30. At $30 or below most purchases will be impulse buys. The higher the price goes, the more research will go into a purchase and conversions will inevitably drop. Lower price points also help reduce the number of product returns, people in general are less likely to take the time to return a $20 product than they are to return a $100 product.</p>
                <p style="font-size: 14px">When creating your product it is very important you discuss with your supplier all the small costs that could drive the final price up. These costs include (but are not limited to): Cost of the product itself, cost of shipping to the USA, cost of shipping to Amazon warehouse, cost of labeling, cost of placing FNSKU, inspection costs, product placement costs, sample/review copies, pay per click advertising, creating a website for your brand, trademark registration, suffocation stickers, Amazon fees.</p>
                <p style="font-size: 14px">Now that you’ve set the pricing on your product it is time we start getting reviews for your product.</p>
                <p style="font-size: 14px">Last, but not least, there are review services. These review services charge a fee to sign up, or to place your product on their lists, their users will then sign up to receive a coupon code they can use to purchase your product for a very low price or for free; in return, these individuals have agreed to review your products for you.</p>
                <p style="font-size: 14px">Although there is no guarantee that these people will review your product (it’s against Amazon’s TOS to force people to post a review), it’s likely that about 70% of the people who use your discount codes will end up reviewing your stuff. It’s important to mention that these reviewers must mention they got the product at a discount in exchange for a review. Keep in mind review services cannot and should not guarantee 5-star reviews; these reviews must be real and objective, so if you’re product is sub-par, you run the risk of getting bad ratings on the products you give away.</p>
                <p style="font-size: 14px">It is recommended that you get five to ten reviews before turning on pay per click advertising; this way potential customers will have some idea of how good your product is and they will be more likely to hit the buy button.
                </p>
                <p style="font-size: 14px">When it comes to pricing, an approach that has worked great for us is to start below the top competitor, but not necessarily the lowest of all competitors. The reason we do this is that when a potential customer sees our product next to the top competitor’s, we want them to see that although we have fewer reviews, we’re cheaper. In many cases, this is enough to tip the scales our way.
                </p>
                <p style="font-size: 14px">At the beginning it is hard to set sales goals for your products. We recommend starting out with a sales goal of 500 units per month, before expanding out to your next product. Each product will require your time and attention; there will also be marketing expenses to take into account. If you don’t have the infrastructure in place and the financial means to automate these tasks, launching multiple products simultaneously will be a daunting task.
                </p>
                <p style="font-size: 14px">Once you notice a diminishing return on your time investment, you might want to consider launching your next product. A great way to get ideas for your next product is to look at what Amazon recommends on your product sales page. Notice the section that says: “Customers who bought [YOUR PRODUCT] also bought [OTHER PRODUCTS]”. These “OTHER PRODUCTS” are great places to start your search for your next hit.
                </p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Recent Blogs</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="post">5 reasons freight forwarders are cheaper than couriers</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="assets/js/jquery1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap1.min.js"></script>

</body>

</html>
