<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage">FBA Transport</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Process">Our Process</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#Pricing">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="homepage#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="quote">Request Quote</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <h1 style="font-size: 35px" class="page-header">Blog Home One
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="blog">Home</a>
                    </li>
                    <li class="active">Blog Home</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!-- First Blog Post -->
                <h2>
                    <a style="font-size: 24px" href="four_reasons"> 4 Reasons FBA sellers prefer Freight Forwarders</a>
                </h2>
                <p style="font-size: 15px" class="lead">
                    by <a href="four_reasons"><font color="c2c2d6">Jon Hult - Amazon Private Label Seller</font> </a>
                </p>
                <p style="font-size: 11px"><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <a href="four_reasons">
                    <img class="img-responsive img-hover" src="assets/legal/banner-freight.jpg" alt="">
                </a>
                <hr>
                <p>Once you’re ready to ship your products to the U.S (or wherever your closest Amazon warehouse is), you can ship your products through an Amazon partnered carrier or a freight forwarder. If you’re looking for a hands-off approach, you might want to use a freight forwarding company to facilitate the process. They are...</p>
                <a class="btn btn-primary" href="four_reasons">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Second Blog Post -->
                <h2>
                    <a style="font-size: 24px" href="amz_strategy"> AMAZON PRIVATE LABEL – PRICING STRATEGIES, GETTING REVIEWS, AND SETTING GOALS</a>
                </h2>
                <p style="font-size: 15px" class="lead">
                    by <a href="amz_strategy">Jon Hult - Amazon Private Label Seller</a>
                </p>
                <p style="font-size: 11px"><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <a href="amz_strategy">
                    <img class="img-responsive img-hover" src="assets/legal/5star.jpg" alt="">
                </a>
                <hr>
                <p>Are you wondering what price range to shoot for when choosing products to private label? In this blog post we discuss pricing strategies, how to get reviews early on after your product launch and setting goals for your private label business.</p>
                <a class="btn btn-primary" href="amz_strategy">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Third Blog Post -->
                  <h2>
                    <a style="font-size: 24px" href="direct_shipping"> SHIPPING YOUR PRIVATE LABEL Items FROM YOUR CHINESE SUPPLIER TO AMAZON</a>
                </h2>
                <p style="font-size: 15px" class="lead">
                    by <a href="direct_shipping">Jon Hult - Amazon Private Label Seller</a>
                </p>
                <p style="font-size: 11px"><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <a href="direct_shipping">
                    <img class="img-responsive img-hover" src="assets/legal/China_AMZ_small.png" alt="">
                </a>
                <hr>
                <p>Now that you have researched your product and found a supplier, we need to talk about getting your product from your supplier to Amazon. Let’s get started!</p>
                <a class="btn btn-primary" href="direct_shipping">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="blog">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Recent Blogs</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="post">5 Reasons Freight Forwarders are cheaper than couriers</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Recent comments</h4>
                    <p>"I was thinking this was"</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; fbatransport.com 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
